{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "plugin:gridsome/recommended",
    "prettier",
    "prettier/vue"
  ],
  "plugins": ["vue"],
  "rules": {
    // ==を使おうが===を使おうが気にしない。
    "eqeqeq": "warn",
    // if文などで{}を略したらwarning。
    "curly": "warn",
    // セミコロンは必須。無かったらLinterエラー。
    "semi": ["warn", "always"]
  }
}